*{

    font-family: "Apercu", sans-serif;
}
.text-area {
    padding-right: 200px;
    padding-left: 200px;
} 

-------------------------------Nav----------------------------------------*/
#nav-bar{
     
    z-index: 2;
    top: 0;
    bottom: 0;
}
.navbar{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 20px;
   z-index: 1000;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color:  rgba(2, 56, 123, 0.80);

}

.navbar-brand img{
    height: 40px;
    padding-left: 20px;
    margin-top: 10px;
}

.navbar-nav li{
    padding: 0 10px;
}


.navbar-nav li a{
    text-decoration: none;
    color: white !important;
    font-weight: 600;
    float: right ;
    text-align: left;
    
}
.navbar-toggler{
    outline: none !important;
}

/* ------------------------------------Footer-------------------------------------*/
#footer{
    background-color: rgba(2, 56, 123, 0.80);
    color: #fff;
    font-size: 14px;
    padding: 40px;
 }

 .footer-img{
    width: 100%;
 }

 .copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
 }

 .p-footer{
    font-size: 14px;
 }

 .p-footer-title{
   font-size: 15px;
}

/* Apply mobile styles within a media query */
@media (max-width: 768px) {
    .text-area {
        padding: 20px; /* Adjust padding for mobile */
    }

    /* Modify navigation bar styles for mobile */
    .navbar {
        padding: 10px;
    }

    .navbar-brand img {
        height: 30px;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar-toggler {
        margin-right: 20px;
    }
}


.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.download{
    height: 50px;
    margin: 2rem 0;
    border: 0;
 }

.QR {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 50vh;
}

.QR img {
    width: 200px; /* Adjust the width to your preference */
    height: auto;

}
/* Add your custom styles here */

.app-download {
    background-color: #b0e0f77d;
    padding: 100px;
}

.promo-title {
    font-size: 36px;
}

.app-description {
    font-size: 20px;
}

.app-store-buttons {
    margin-top: 20px;
}

.app-store-button {
    height: 40px;
    margin-right: 10px;
}

.footer {
    background-color: #f1f1f1;
    padding: 40px 0;
}

.footer-logo {
    width: 150px;
    padding: 10px;
}

.contact-title,
.app-download-title {
    font-size: 18px;
}

.contact-info {
    font-size: 16px;
}

.footer-link {
    font-size: 16px;
    margin-bottom: 10px;
}

.copyright {
    font-size: 14px;
    text-align: center;
}

@media (max-width: 768px) {
    .QR {
        display: none;
    }
}

html, body {
    overflow: auto;
}